* {
  font-family: 'Roboto Slab', serif;
}

.page-one {
  position: relative;
  background-color: #ffffff;

}
.page-two {
  position: relative;
  background-color: #ffffff;
}
.page-three {
  position: relative;
  background-color: #0f0a1f;
}

.page-four {
  position: relative;
  background-color: #ffffff;
}

.who {
  position: absolute;
  bottom: 40vh;
  right: 12vw;
  padding: 1vw;
  font-size: 5vw;
  color: #0f0a1f;
  z-index: 1;
  text-decoration: none;
  border-radius: 1vw;
  clip-path: inset(0 0 0 85%);
  transition: 1s ease-out;

}

.who:hover {
  clip-path: inset(0 0 0 0);
  transition: 1s ease-in;
  background-color: #ffa400;
  color: #0f0a1f;
}


.grey {
  color: #ffa400;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  padding-top: 4vw;
  font-size: 4vw;
  height: 24vw;
  color: #fff;
  background-color: #ff495c;
}


.bootstrap {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.bootstrap:hover {
  color: #0e0b16;
}

@media screen and (min-width: 1350px) {

  .footer {
    font-size: .75vw;
    height: 8vh;
    padding-top: 2.5vh;
    font-size: 1.5vh;
  }
}