nav.navbar {
    z-index: 10;
    background-color: #ff495c;
    opacity: .9;
    position: fixed;
    top: 0;
}

.container-fluid a {
    color: #fff;
    letter-spacing: .1rem;
}

.container-fluid a:hover {
    transform: scale(1.1);
    color: #0e0b16;
}

.burger {
    color: #fff;
    font-size: 4vw;
} 
